<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"> 
        <meta name="viewport"content="width=device-width">
        <h1><title Mercado Liebre></title></h1>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="\css\normalize.css">
        <link rel="stylesheet" href="\css\styles.css">
        <script src="https://kit.fontawesome.com/d4ee5988c7.js" crossorigin="anonymous"></script>

    </head>
<body>
<header class="main-header">
        <div class="main-header-top-bar">
            <div class="encabezadoMobile">
<img src = "\images\logo-mercado-liebre.svg" alt= "Logo de Mercado Liebre" class="logo">

<input type="search" placeholder="Buscar productos, marcas y más"> <i class="fas fa-search"></i> 
</div>

<h2 class="copy-header"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</h2>
</div>

<nav class="main-header-bottom-bar">
<ul class="left-navbar" type="None">
    <li><a href="">Ofertas</a></li>
    <li><a href="">Tiendas Oficiales</a></li>
    <li><a href="">Vender</a></li>
    <li><a href="">Ayuda</a></li>
</ul>

<ul class="right-navbar" type="None">
    <li><a href="\register.html">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
    <li><a href="\login.html">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
    <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
</ul>
</nav>

<a href="" class="burger-menu">   
    <i class="fas fa-bars"></i>
</a>

<img src = "\images\img-home-banner.jpg" alt= "banner" class="banner">

</header>

<main>

<h3><p>Basado en tu última visita</p></h3> 
<div class="contenedorDesktop1">
    <div class="contenedorTablet1">
<div class= "articulos">
<img src="\images\img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" class="foto">
    <div class="promo">
<p><i class="fas fa-truck"></i></p>
    <div class="precios-descuento">
<p class="precios">$6.770</p>
    <p class="descuento">40% OFF</p></div>
        <p class="descripcion">Cafetera Moulinex</p>    
    </div>
</div>
    
<div class= "articulos">
<img src = "\images\img-macbook-pro-2019.jpg" alt = "Imagen de la Mackbook" class="foto">
    <div class="promo">
<p><i class="fas fa-truck"></i></p>
<div class="precios-descuento">
    <p class="precios">$230.000</p>
        <p class="descuento">20% off</p></div>
          <p class="descripcion">Macbook Pro 2019</p>
    </div>
</div>
</div>

<div class="contenedorTablet2">
<div class= "articulos">
<img src = "\images\img-samsung-galaxy-s10.jpg" alt = "Imagen del celular imagen del Samsung-galaxy-s10" class="foto">
<div class="promo">
<p><i class="fas fa-truck"></i></p>
<div class="precios-descuento">
    <p class="precios">$70.500</p>
        <p class="descuento">10% off</p></div>
            <p class="descripcion">Samsung Galaxy S10</p>
    </div>
</div>

<div class= "articulos">
<img src = "\images\img-tv-samsung-smart.jpg" alt = "Imagen del SmartTV Samsung" class="foto">
    <div class="promo">
<p><i class="fas fa-truck"></i></p>
<div class="precios-descuento">
    <p class="precios">$23.200</p>
        <p class="descuento">5% off</p></div>
            <p class="descripcion">SmartTV Samsung 43"</p>
    </div>
</div>
</div>
</div>

<h3><p>Sección de Ofertas</p></h3>
<div class="contenedorDesktop2">
    <div class="contenedorTablet3">
<div class= "articulos">
    <img src="\images\img-cafetera-moulinex.jpg" alt="Imagen de la cafetera" class="foto">
        <div class="promo">
    <p><i class="fas fa-truck"></i></p>
    <div class="precios-descuento">
    <p class="precios">$6.770</p>
        <p class="descuento">40% OFF</p></div>
            <p class="descripcion">Cafetera Moulinex</p>    
        </div>
    </div>
        
    <div class= "articulos">
    <img src = "\images\img-macbook-pro-2019.jpg" alt = "Imagen de la Mackbook" class="foto">
        <div class="promo">
    <p><i class="fas fa-truck"></i></p>
    <div class="precios-descuento">
        <p class="precios">$230.000</p>
            <p class="descuento">20% off</p></div>
              <p class="descripcion">Macbook Pro 2019</p>
        </div>
    </div>
</div>

<div class="contenedorTablet4">
    <div class= "articulos">
    <img src = "\images\img-samsung-galaxy-s10.jpg" alt = "Imagen del celular imagen del Samsung-galaxy-s10" class="foto">
    <div class="promo">
    <p><i class="fas fa-truck"></i></p>
    <div class="precios-descuento">
        <p class="precios">$70.500</p>
            <p class="descuento">10% off</p></div>
                <p class="descripcion">Samsung Galaxy S10</p>
        </div>
    </div>
    
    <div class= "articulos">
    <img src = "\images\img-tv-samsung-smart.jpg" alt = "Imagen del SmartTV Samsung" class="foto">
        <div class="promo">
    <p><i class="fas fa-truck"></i></p>
    <div class="precios-descuento">
        <p class="precios">$23.200</p>
            <p class="descuento">5% off</p></div>
                <p class="descripcion">SmartTV Samsung 43"</p>
        </div>
    </div>
</div>
</div>
</main>

<footer>
    <div class="contenedorDesktop3">
    <ul type= "None">
        <i class="fas fa-credit-card"></i><li class= "negrita">Paga con tarjeta o en efectivo</li>
    <li>Con MercadoLiebreCash, tenés cuotas sin</li>
    <li>interés con tarjeta o efectivo en puntos de</li>
    <li>pago. ¡Y siempre es seguro!</li>
</ul>

    <ul type= "None">
        <i class="fas fa-gift"></i><li class= "negrita">Envío gratis desde $ 2.500</li>
   <li>Solo por estar registrad@ en Mercado Liebre</li>
   <li>tenés envíos gratis en miles de productos. Es</li>
   <li>un beneficio de Mercado Puntos.</li>        
    </ul>
    
    <ul type= "None">
        <i class="fas fa-user-shield"></i><li class= "negrita">Seguridad, de principio a fin</li>
      <li>¿No te gusta? ¡Devolvelo! En Mercado Liebre</li>
      <li>no hay nada que no puedas hacer,</li>
      <li>porque estás siempre protegid@.</li>
</ul>
</div>
<ul type="None" class="copyrightDesktop">
    <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
</ul>
</footer>

</body>


</html>
